<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CRUD</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container">
            <form action="/crud-create" method="POST">
                <div class="form-row">
                    <div class="col-12">
                        <h1>CREATE FORM</h1>
                    </div>
                    <div class="form-group col-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email" />
                    </div>
                    <div class="form-group col-6">
                        <label for="inputPassword4">Password</label>
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            id="inputPassword4"
                            placeholder="Password"
                        />
                    </div>
                    <div class="form-group col-6">
                        <label for="firstName">First Name</label>
                        <input
                            type="text"
                            class="form-control"
                            name="firstName"
                            id="firstName"
                            placeholder="Enter your first name"
                        />
                    </div>
                    <div class="form-group col-6">
                        <label for="LastName">Last Name</label>
                        <input
                            type="text"
                            class="form-control"
                            name="lastName"
                            id="LastName"
                            placeholder="Enter your last name"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input
                        type="text"
                        class="form-control"
                        name="address"
                        id="inputAddress"
                        placeholder="Enter your address"
                    />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPhone">Phone Number</label>
                        <input class="form-control" type="text" id="inputPhone" name="phoneNumber" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputStateGender">Gender</label>
                        <select id="inputStateGender" class="form-control" name="gender">
                            <option hidden selected disabled>Choose Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Other</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputStateRole">Role</label>
                        <select id="inputStateRole" class="form-control" name="roleId">
                            <option hidden selected disabled>Choose Role</option>
                            <option value="1">Admin</option>
                            <option value="2">Doctor</option>
                            <option value="3">Patient</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </body>
</html>
